# Dependencies
node_modules/

# Environment variables
.env

# Build output
dist/
build/

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Docker volumes
mongodb_data/
